DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=new_slot
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file

ADMIN_EMAIL=planamayorsquadalpha@gmail.com
ADMIN_NICK=admin
ADMIN_PASSWORD=password